.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 {
  color: #162633;
}

.header a {
  text-decoration: none;
}

.header a:nth-child(2) {
  margin-left: 10px;
}

@media (max-width: 400px) {
  .header h1 {
    font-size: 1.5rem;
  }
  .header :global(.button) {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 340px) {
  .header h1 {
    font-size: 1.3rem;
  }
  .header :global(.button) {
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
  }
  .header a:nth-child(2) {
    margin-left: 5px;
  }
}
