.text h1 {
  color: #162739;
}
.text p {
  color: #77858c;
}

.parameter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 5rem 0px;
}

.parameter div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  width: 300px;
  border-radius: 5px;
  background-color: #d9eefa;
  color: #616d73;
}

.winner {
  background-color: #162739 !important;
  color: white !important;
  transform: scale(1.1);
  box-shadow: 0px 1px 8px rgba(22, 39, 57, 0.3);
}

@media (max-width: 800px) {
  .text h1 {
    font-size: 1.5rem;
  }
  .text p {
    font-size: 0.875rem;
  }

  .parameter {
    margin: 4rem;
  }
  .parameter div {
    font-size: 0.875rem;
    width: 250px;
  }
}

@media (max-width: 570px) {
  .text h1 {
    font-size: 1.3rem;
  }
  .text p {
    font-size: 0.85rem;
  }

  .parameter {
    margin: 3rem;
  }
  .parameter div {
    font-size: 0.85rem;
    width: 200px;
  }
}

@media (max-width: 440px) {
  .text {
    width: 300px;
    margin: 0 auto;
  }
  .parameter {
    width: 300px;
    margin: 3rem auto;
  }
}
