.finishModalContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.finishModal {
  border-radius: .5rem;
  background-color: white;
}

.container {
  padding: 3rem;
  text-align: center;
  width: 500px;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 20%;
}
.buttons a {
  flex-grow: 1;
  font-size: 1rem;
  padding: .75rem 1rem;
  text-decoration: none;
}